﻿<h1>Welcome to Details Page</h1>
@{ 
    var student = ViewData["Student"] as Yash_Exam2AspAug18.Models.Student;
}
<div>
    <div> Student Id:@student.StudentId</div>
    <div> Student Name : @student.StudentName</div>
</div>