﻿@model Yash_MVCStudentProject_Aug20.Models.Student
<div>
    @{
        using (Html.BeginForm())
        {
            @Html.LabelFor(s => s.StudentName) @Html.TextBoxFor(s => s.StudentName)<br><br>

            @Html.LabelFor(s => s.Studentemail) @Html.TextBoxFor(s => s.Studentemail)<br><br>
            @Html.LabelFor(s => s.StudentDoj) @Html.TextBoxFor(s => s.StudentDoj)<br><br>
            @Html.LabelFor(s => s.Studentdob) @Html.TextBoxFor(s => s.Studentdob)<br><br>
            @Html.LabelFor(s => s.Studentcourse) @Html.TextBoxFor(s => s.Studentcourse)<br><br>
            @Html.LabelFor(s => s.Studentaddr) @Html.TextBoxFor(s => s.Studentaddr)<br><br>
            @Html.LabelFor(s => s.Studentspecialization) @Html.TextBoxFor(s => s.Studentspecialization)<br><br>
            @Html.LabelFor(s => s.Studentphnno) @Html.TextBoxFor(s => s.Studentphnno)<br><br>
            @Html.LabelFor(s => s.Studentstream) @Html.TextBoxFor(s => s.Studentstream) <br><br>
            <input type="submit" value="Edit" />
        }
    }
</div>