﻿@model IEnumerable<Yash_MVCStudentProject_Aug20.Models.Student>

                      <div>
                          @Html.ActionLink("Add Student","AddStudent")
                          <table width="150%" border="1">
                              <tr style="height:fit-content">
                                  <th>Student Id</th>
                                  <th>Student Name</th>
                                  <th>Student Stream</th>
                                  <th>Student Phn no</th>
                                  <th>Student Dob</th>
                                  <th>Student Doj</th>
                                  <th>Student Email</th>
                                  <th>Student Specialization</th>
                                  <th>Student Address</th>
                                  <th>Student Course</th>
                              </tr>
                          </table>
                          @{
                          foreach (var item in Model)
                          {
                          <table width="150%" border="1">
                              <tr style="height:fit-content">
                                  <td>@item.StudentId</td>
                                  <td>@item.StudentName &nbsp;&nbsp;</td>
                                  <td>@item.Studentstream &nbsp;&nbsp;</td>
                                  <td>@item.Studentphnno &nbsp;&nbsp;</td>
                                  <td>@item.Studentdob &nbsp;&nbsp;</td>
                                  <td>@item.StudentDoj &nbsp;&nbsp;</td>
                                  <td>@item.Studentemail &nbsp;&nbsp;</td>
                                  <td>@item.Studentspecialization &nbsp;&nbsp;</td>
                                  <td>@item.Studentaddr &nbsp;&nbsp;</td>
                                  <td>@item.Studentcourse &nbsp;&nbsp;</td>
                                  <td>
                                      <form action="@Url.Action("Delete",new{ id=@item.StudentId})" method="post">
                                          <input type="submit" value="Delete" class="btn btn-primary" />
                                      </form>
                                      <a href='@Url.Action("Edit",new { id = item.StudentId })' class="btn btn-primary">Edit</a>
                                      
                                  </td>
                              </tr>
                          </table>
                          

                          }
                          }
                      </div>
