﻿@{
    var employee = ViewBag.employeedetails as Yash_EmployeeExam_Aug18.Models.Employee;
    var employee2 = ViewData["Employeedet"] as Yash_EmployeeExam_Aug18.Models.Employee;
} 
<div>Employee Id : @employee.Employeeid</div>
<div>Employee Name : @employee.EmployeeName</div>
<div>Employee Salary : @employee2.EmployeeSalary</div>
@Html.ActionLink("Go back", "Index")