﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br>
    <header>@ViewBag.employeedetails,@ViewData["Employeedet"]</header>
    @Html.ActionLink("Employee Details", "Details")<br><br>
    @Html.ActionLink("Employee List Details", "DetailsResult")<br><br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
