﻿@model Yash_EmployeeExam_Aug18.Models.Employee
<div>
    @{
        using (Html.BeginForm()) {
        @Html.LabelFor(yash => yash.EmployeeName) <br>
        @Html.TextBoxFor(yash => yash.EmployeeName)<br><br />
         <input type="submit" value="Add Employee" />
        }
}
 </div>