﻿@model IEnumerable<Yash_EmployeeExam_Aug18.Models.Employee>
<div>
    @Html.ActionLink("Add Employee","AddEmployee")
    <ul>
        @{ 
            foreach (var item in Model)
            {
                <li>Employee Id - @item.Employeeid &nbsp;&nbsp; &nbsp; &nbsp; Name - @item.EmployeeName.</li>
            }
        }
        </ul>
</div>
@Html.ActionLink("Go back", "Index")