﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>@ViewData["abc"],@ViewBag.secondexample</header>
    @Html.ActionLink("Go to details","Details")
    <h2>Hey There :)</h2>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
